<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394657923789-ibabebcahb2p3q93ol5hnv3kfhtk43a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394657923789-ibabebcahb2p3q93ol5hnv3kfhtk43a9</string>
	<key>API_KEY</key>
	<string>AIzaSyBH2Z9H3DN1JLui1S5FVkepHyPpPtRU8UY</string>
	<key>GCM_SENDER_ID</key>
	<string>394657923789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viralai.cinemorph</string>
	<key>PROJECT_ID</key>
	<string>ai-image-animate</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-image-animate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394657923789:ios:7c2f19feb3a7facb295f84</string>
</dict>
</plist>